<a href="https://colab.research.google.com/github/Abbhiraami/ML_AI_masters/blob/main/practice_books/upgrad_hands_on_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
### Typing the first code in python
print("Hello World!!")

Hello World!!

In [4]:
var_float=8.9
type(var_float)

float

In [12]:
num1,num2=8,9
print("Addition")
print(num1+num2)
print("multiplication")
print(num1*num2)
print("subtraction")
print(num1-num2)
print("division")
print(num1/num2)
print("modulus")
print(num1%num2)
print("exponent")
print(num1**num2)
print("floor division")
print(num1//num2)

Addition
17
multiplication
72
subtraction
-1
division
0.8888888888888888
modulus
8
exponent
134217728
floor division
0

In [13]:
5**2

25

In [14]:
import numpy as np
np.power(5,2)

25

In [17]:
print(f"Average of 10,15,20: {np.mean([10,15,20])}")

Average of 10,15,20: 15.0

In [18]:
temp_C=10
temp_F=temp_C*(9/5)+32
print(f"Temperature in Fahrenheit: {temp_F}")

Temperature in Fahrenheit: 50.0

In [19]:
### Take an input
temp_C=float(input("Enter the temperature in Celsius: "))
temp_F=temp_C*(9/5)+32
print(f"Temperature in Fahrenheit: {temp_F}")

Enter the temperature in Celsius: 30
Temperature in Fahrenheit: 86.0

In [20]:
### Take an input
P=float(input("Enter the principle amount: "))
roi=float(input("Enter the rate of interest: "))
n=int(input("Enter the number of years: "))
r=P*roi*n
print(f"Simple interest: {r}")

Enter the principle amount: 1000
Enter the rate of interest: .12
Enter the number of years: 5
Simple interest: 600.0

In [21]:
string="Data Science"
string.capitalize(),string.title()

('Data science', 'Data Science')

In [23]:
input_str="Hello World"
input_str.replace(" ","-")

'Hello-World'